*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(29, 26, 26);
   
}
.calculator{
    width: 400px;
    height: 570px;
    border:rgb(110, 102, 102) 2px solid;
    display: flex;
    border-radius: 16px;
    flex-direction: column;
    align-items: center;
    margin:50px auto;
}
input{
    width: 280px;
    padding: 30px;
    margin: 25px;
    font-size: 30px;
    text-align: right;
    border-radius: 11px;

}
button{
   width: 60px;
   height: 60px;
   margin: 10px 12px;
   border-radius: 45%;
   background: transparent;
   color: #fff;
   font-size: 20px;
   box-shadow: -8px -8px 15px  rgba(255,255,255,0.1);
   cursor: pointer;
}
.equal{
    background-color:#df3b08;
}
.all-clear{
    background-color:rgb(121, 121, 175);
}
.del{
    background-color:rgb(3, 109, 3);
}
.operator{
    color: green;
    font-size: 25px;
}



@media (min-width : 320px) and (max-width : 480px) {
    .calculator{
        width: 284px;
        height: 380px;
    }
    input{
        width: 225px;
        padding: 8px;
        font-size: 20px;
    }
    button{
        width: 41px;
        height: 35px;
    }
}